<div id="page_wrapper">

<h1>Yeni Yazı</h1>

<%= form_for :post, url: posts_path do |f| %>
    
    <p>
	   <%= f.label :Başlık %><br>
	   <%= f.text_field :title %>
    </p>

    <p>
	   <%= f.label :Yazı %><br>
	   <%= f.text_area :body %>
    </p>

    <p>
	   <%= f.submit %>
</p>

<% end %>
</div>